<div class="col-md-3">
      <div class="item">
        <div class="thumbnail">
          <img style="width: 400px; height: 250px;" class="group list-group-image" [src]="profile.imagePath"
            alt="" />
          <div class="caption">
            <h4 class="group inner list-group-item-heading">
              {{ profile.name }}</h4>
            <p class="group inner list-group-item-text">
              {{ profile.email }}</p>
            <hr>
              <div class="row">
              <div class="text-center">
                <a class="btn btn-primary" style="background-color: #659157">Edit</a>
              </div>
            </div>
            <div class="content">
              <p class="description text-center">
                {{ profile.personalQuote }}
              </p>
            </div>
            <hr>
            <div class="text-center">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                
                  <h5>{{ profile.files }}<br><small>Files</small></h5>
                </div>
                <div class="col-md-4">
                  <h5>{{ profile.usedMemory }} GB<br><small>Used</small></h5>
                </div>
                <div class="col-md-3">
                  <h5>{{ profile.spendAmount }} $<br><small>Spent</small></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>