 html { 
background-color: whitesmoke;
/* background: url(https://images-na.ssl-images-amazon.com/images/I/8133cvSDcHL._SL1119_.jpg) no-repeat center center fixed;  */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 