<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Profile Gallery</h3>
  </div>
  <div class="panel-body">
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img style="width: 400px; height: 250px;" class="group list-group-image" src="https://www.w3schools.com/w3css/img_avatar3.png"
          alt="" />
        <div class="caption">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-primary btn-xs">View Detials</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img style="width: 400px; height: 250px;" class="group list-group-image" src="https://www.w3schools.com/w3css/img_avatar3.png"
          alt="" />
        <div class="caption">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-primary btn-xs">View Detials</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img style="width: 400px; height: 250px;" class="group list-group-image" src="https://www.w3schools.com/w3css/img_avatar3.png"
          alt="" />
        <div class="caption">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-primary btn-xs">View Detials</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>